*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.6;
}
header{
    background: linear-gradient(135deg,#0373e2,#343434);
    color: white;
    padding: 1rem 0;
     background-image: url("../../includes/estate.jpg");
    background-size: cover;
    height: 500px;
    margin-bottom: 50px;
    width: 100%;
   }

header h1{
    font-size: 3rem;
    color: white;
  }

  .wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.house-container{
    padding: 0 20px;
    margin: 0 auto;
}

.logo{
    font-size: 1.8rem;
    font-weight: bold;
}

.logo a{
  text-decoration: none;
  color: white;
}
nav ul{
    list-style: none;
    display: flex;
    gap: 5rem;
    margin-top: -2.7rem;
    align-items: center;
    justify-content: center;
    margin-left: 10rem;

}
nav a{
    color: white;
    text-decoration: none;
    transition: color 0.3s;

}
nav a:hover{
    color: red;
}
.btn{
    background-color: rgb(185,187,169);
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.4s;
    border-radius: 20px;
    margin-left: 10rem;

}

.btn button{
  color: white;
  background-color: transparent;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  background-color: hsl(60, 8%, 83%)
}

.word{
  margin-left: 20px;
}

.search_bar{
  margin-left: 20px;
}
.search_bar form input{
  /* padding: 30px; */
   padding-left: 20rem;
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: 50px;
  background-color: transparent;
  background-color: #fff;
  text-align: left;
}
.search_bar form input[type="text"]{
  width: 300px;
  border: none;
  outline: none;
  font-size: 1rem;
}
.search_bar form input[type="submit"]{
  background-color: #0373e2;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
}
.search_bar form inputplaceholder{
  color: #d82323;
}

/* Registration */

body {
      background: linear-gradient(135deg,#0373e2,#343434);
      font-family: Arial, sans-serif;
      display: flex;
      justify-content: center;
      height: 100vh;
      margin: 0;
    }
.register-form {
      background: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      width: 400px;
  }
    .register-form h2 {
      margin-bottom: 20px;
      text-align: center;
    }
    .form-group {
      margin-bottom: 15px;
    }
    .form-group label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }
    .form-group input {
      width: 90%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
    }
    .form-group button {
      width: 95%;
      padding: 10px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
.form-group button:hover {
      background-color: #0056b3;
    }
